.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.featuredIcon{
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative{
  color: red;
}

.widgetSmIcon{
  font-size: 16px !important;
  margin-right: 5px;
}

.widgetLgButton.Approved{
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.Declined{
  background-color: #fff0f1;
  color: #d95087;

}
.widgetLgButton.Pending{
  background-color: #ebf1fe;
  color: #2a7ade;
}